$headerBG: url("../Images/hearo-top.jpg");
$circleGrad: url("../Images/bg-circle-gradient.png");
$squareGrad: url("../Images/bg-square-gradient.png");
$rectGrad: url("../Images/bg-rectangle-gradient.png");

$white: #fff;
$purple: #6F249B;
$darkPurple: #201728;
$orange: #CF1C55;

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

html,
body{
  margin: 0 auto;
  padding: 0;
  width: 100vw !important;
  overflow-x: hidden;

h2, h3, p, a{
  color: $white;
}
}

*{
  box-sizing: border-box;
}

.topNav{
  width: 100vw;
}
.topNav a {
  float: left;
  display: block;
  color: $white;
  background: $darkPurple;
  text-decoration: none;
  font-size: 3em;
  padding-left: 6%;
  padding-right: 6%;
}

.topNav a:hover {
  background-color: $purple;
  color: $white;
  font-size: 3.5em;
  text-decoration: none;
}

.topNav .icon {
  display: none;
}
.navbar-collapse{
  width: 100vw;
  background: $darkPurple;
  li{
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  padding: 3% 5% 2%;
  }
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .header{
    height: 100vh;
    width: auto;
    padding: 0;
    .topNav a{
      padding-left: 15%;
    }
   .headerBG{
    height: 100vh;
    }
    .headerLogo{
      width: 20%;
      left: 40%;
    }
    .headerArrow{
    height: 10%;
    position: absolute;
    top: 75%;
    left: 48%;
    }
    .aboutDiv {
    font-size: 2.8rem ;
    background: #6F249B;
    position: relative;
    z-index: 1;
    width: 50%;
    left: 25%;
    }
    }
    .article1,
    .article2,
    .article3{
      width: auto;
      height: auto;
    }
  }

@media screen and (max-width: 600px) {
  .topNav a:not(:first-child) {display: none;}
  .topNav a.icon {
    float: right;
    display: block;
  }
  .topNav.responsive {position: relative;}
  .topNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .slide{
    width: auto;
    height: 250px;
    position: absolute;
    left: 0;
  }
  .headerArrow, .glyphArrow, .adWaveGlyph{
    display: none;
  }
  .footerDiv{
    display: grid;
  }
}


.header{
  background: $darkPurple;
  width: 100vw;
  height: 80vh;
  padding: 0;
  text-align: center;
  position: relative;
.headerBG{
  background: $darkPurple;
  height: 105vh; 
  width: 100vw;

}
.headerArrow{
    height: 15%;
    position: absolute;
    top: 90%;
    left: 48%;
}
}
.headerLogo{
position: absolute;
  width: 30%;
  left: 35%;
  top: 50%
}
.aboutDiv {
  background: $purple;
  position: relative;
  width: 105vw;
  height: auto;
  left: -25%;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 2.3em;
  z-index: 1;
  padding: 5% 2% 5%;

  &:before,
  &:after {
    width: 100vw;
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }
  &:after {
    bottom: 0;
    transform: skewY(-2.5deg);
    transform-origin: 100%;
  }
}
.adDiv{
  background: $darkPurple;
  text-align: center;
  z-index: 0;
  position: relative;
  h2{
    margin-top: 10%;
    font-size: 3.6em;
  }
.aboutDiv {
  color: #fff;
  width: 105vw;
  position: absolute;
  top: 40%;
  font-family: 'Playfair Display', sans-serif;
  padding: 20% 20px;
  text-align: center;
  }
  .adWaveGlyph{
    position: absolute;
    top: 15%;
    left: 74%;
    height: 20%;
  }
  
}
.adImg{
  position:absolute; 
  z-index: -1;
  left: 50%;
}
p {
    position: initial;
    font-size: 1.5em;
    font-weight: 100;
}

.buttons{
  border: 2px solid $orange;
  background: transparent;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: $white;
  padding: 2% 3% 2%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  left: 40%;
  position: relative;
  .aboutUs, .readMore{
  position: relative;
  
  a {
    position: absolute;
    width: auto;
    top: 0;
    left: 45%;
  }

}
}
  .rightArrow{
    position: absolute;
    left: 90%;
    top: 35%;
  }
.buttons {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid $orange;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.buttons:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: none;
}
.buttons:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}
.buttons:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: $orange;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.dataInfoDiv{
  text-align: center;
  background: $purple;
  justify-content: center;
  position: relative;
  z-index: 2;
  h2{
    padding-top: 15%;
    font-size: 3.6em;
  }

.dataAna{
  height: 55%;
  width: 100%;
  padding: 2px 3px 2px;
  z-index: 0;
  position: relative;
  top: -1px;
  &:before,
  &:after {
    background: inherit;
    content: "";
    display: block;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  &:before {
    top: -35px;
    transform: skewY(3deg);
    transform-origin: 100% 0;
  }
  h2{
    font-size: 3.6em;
  }
  p{
    position: initial;
  }
}
.slide2{
  width: 100vw;
  height: 470px ;
  left: 0%;
}

.adWaveGlyph{
  height: 10%;
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 5;
}
.xArrow{
  position: absolute;
  height: 15%;
  left: 50%;
  top: 10%;
  margin-top: 5%;
}
}
.adInfoDiv{
  position: relative;
  bottom: 125px;
  z-index: 1;
}

.glyphArrow{
  position: absolute;
  top: 0%;
  left: 50%;
  }


.articles{
  height: auto;
  display: flex;
  position: relative;
  top: 10%;
  h3{
    font-family: "Monserrat", serif;
    letter-spacing: 3px;
    font-size: 2.3em;
    position: absolute;
    top: 60%;
    left: 5%

  }
  p{
    position: absolute;
    font-family: "Playfair Display", serif;
    color: #CF1C55;
    font-weight: 200;
    font-size: 2.1em;
    bottom: 70%;
    left: 10%;
  }
  .artArrow{
    position: absolute;
    left: 65%;
  }
}
.article1, .article2, .article3{
  position: relative;
  width: 50vw;
  height: 50vh;
  object-fit: fill;
  padding: -2% -2% -2%;
  margin: 3% ;
  img{
    position: relative;
    top: 95%;
    left: 70%;
  }
}
.article1{
  background-image: $squareGrad;
  }
.article2{
  background-image: $rectGrad;
}
.article3{
  background-image: $circleGrad;
}

.footer{
  height: auto;
  width: 100vw;
  background: $darkPurple;
  display: flex;
  text-align: center;
  justify-content: center;
.footerDiv{
    justify-content: center;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;

}
 h3{
    text-shadow: 0px 1px 1px #dedede;
    letter-spacing: 2px;
    color: $white;
    padding: 4% 6% 4%;
  }
  p{
    font-size: 1.9em;
   padding: 5% 10% 5%; 
  }


}
