@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
html,
body {
  margin: 0 auto;
  padding: 0;
  width: 100vw !important;
  overflow-x: hidden;
}
html h2, html h3, html p, html a,
body h2,
body h3,
body p,
body a {
  color: #fff;
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.topNav {
  width: 100vw;
  transition: 0.3s ease;
  color: #fff;
  text-decoration: none;
}

.topNav a {
  float: left;
  display: block;
  color: #fff;
  background: #201728;
  text-decoration: none;
  font-size: 3em;
  padding-left: 6%;
  padding-right: 6%;
}

.topNav a:hover {
  background-color: #6F249B;
  color: #fff;
  font-size: 3.5em;
  text-decoration: none;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.topNav .icon {
  display: none;
}

.navbar-collapse {
  width: 100vw;
  background: #201728;
}

.navbar-collapse li {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  padding: 3% 5% 2%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  [class*=col-] {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .header {
    height: 100vh;
    width: auto;
    padding: 0;
  }

  .header .topNav a {
    padding-left: 15%;
  }

  .header .headerBG {
    height: 100vh;
  }

  .header .headerLogo {
    width: 20%;
    left: 40%;
  }

  .header .headerArrow {
    height: 10%;
    position: absolute;
    top: 75%;
    left: 48%;
  }

  .header .aboutDiv {
    font-size: 2.8rem;
    background: #6F249B;
    position: relative;
    z-index: 1;
    width: 50%;
    left: 25%;
  }
}
@media screen and (max-width: 600px) {
  .topNav a:not(:first-child) {
    display: none;
  }

  .topNav a.icon {
    float: right;
    display: block;
  }

  .topNav.responsive {
    position: relative;
  }

  .topNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .slide {
    width: auto;
    height: 250px;
    left: 0;
  }

  .headerBG {
    width: auto;
  }

  .headerLogo {
    width: 70%;
    left: 15%;
  }

  .articles {
    flex-direction: column;
  }

  .headerArrow, .glyphArrow, .adWaveGlyph {
    display: none;
  }

  .footer {
    flex-direction: column;
  }

  .footerDiv {
    padding-bottom: 10%;
  }
}
.header {
  background: #201728;
  width: 100vw;
  height: 80vh;
  padding: 0;
  text-align: center;
  position: relative;
}

.header .headerBG {
  background: #201728;
  height: 105vh;
  width: 100vw;
}

.header .headerArrow {
  height: 15%;
  position: absolute;
  top: 90%;
  left: 48%;
}

.headerLogo {
  position: absolute;
  width: 30%;
  left: 35%;
  top: 50%;
}

.aboutDiv {
  background: #6F249B;
  position: relative;
  width: 105vw;
  height: auto;
  left: -30%;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 2.3em;
  z-index: 1;
  padding: 5% 2% 5%;
}

.aboutDiv:before, .aboutDiv:after {
  width: 100vw;
  background: inherit;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.aboutDiv:after {
  bottom: 0;
  transform: skewY(-2.5deg);
  transform-origin: 100%;
}

.adDiv {
  background: #201728;
  text-align: center;
  z-index: 0;
  position: relative;
}

.adDiv h2 {
  margin-top: 10%;
  font-size: 3.6em;
}

.adDiv .aboutDiv {
  color: #fff;
  width: 105vw;
  position: absolute;
  top: 40%;
  font-family: "Playfair Display", sans-serif;
  padding: 20% 20px;
  text-align: center;
}

.adDiv .adWaveGlyph {
  position: absolute;
  top: 15%;
  left: 74%;
  height: 20%;
}

.adImg {
  position: absolute;
  z-index: -1;
  left: 50%;
}

p {
  position: initial;
  font-size: 1.5em;
  font-weight: 100;
}

.buttons {
  border: 2px solid #CF1C55;
  background: transparent;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  padding: 2% 3% 2%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  left: 40%;
  position: relative;
}

.buttons .aboutUs, .buttons .readMore {
  position: relative;
}

.buttons .aboutUs a, .buttons .readMore a {
  position: absolute;
  width: auto;
  top: 0;
  left: 45%;
}

.rightArrow {
  position: absolute;
  left: 90%;
  top: 35%;
}

.buttons {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #CF1C55;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.buttons:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: none;
}

.buttons:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.buttons:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: "";
  color: #000 !important;
  background: #CF1C55;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.dataInfoDiv {
  text-align: center;
  background: #6F249B;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.dataInfoDiv h2 {
  padding-top: 15%;
  font-size: 3.6em;
}

.dataInfoDiv .dataAna {
  height: 55%;
  width: 100%;
  padding: 2px 3px 2px;
  z-index: 0;
  position: relative;
  top: -1px;
}

.dataInfoDiv .dataAna:before, .dataInfoDiv .dataAna:after {
  background: inherit;
  content: "";
  display: block;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}

.dataInfoDiv .dataAna:before {
  top: -35px;
  transform: skewY(3deg);
  transform-origin: 100% 0;
}

.dataInfoDiv .dataAna h2 {
  font-size: 3.6em;
}

.dataInfoDiv .dataAna p {
  position: initial;
}

.dataInfoDiv .slide2 {
  width: 100vw;
  height: 470px;
  left: 0%;
}

.dataInfoDiv .adWaveGlyph {
  height: 10%;
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 5;
}

.dataInfoDiv .xArrow {
  position: absolute;
  height: 15%;
  left: 50%;
  top: 10%;
  margin-top: 5%;
}

.adInfoDiv {
  position: relative;
  bottom: 125px;
  z-index: 1;
}

.glyphArrow {
  position: absolute;
  top: 0%;
  left: 50%;
}

.articles {
  height: auto;
  display: flex;
  position: relative;
  top: 10%;
}

.articles h3 {
  font-family: "Monserrat", serif;
  letter-spacing: 3px;
  font-size: 2.3em;
  position: absolute;
  top: 60%;
  left: 5%;
}

.articles p {
  position: absolute;
  font-family: "Playfair Display", serif;
  color: #CF1C55;
  font-weight: 200;
  font-size: 2.1em;
  bottom: 70%;
  left: 10%;
}

.articles .artArrow {
  position: absolute;
  left: 65%;
}

.article1, .article2, .article3 {
  position: relative;
  width: 50vw;
  height: 50vh;
  object-fit: fill;
  padding: -2% -2% -2%;
  margin: 3%;
}

.article1 img, .article2 img, .article3 img {
  position: relative;
  top: 95%;
  left: 70%;
}

.article1 {
  background-image: url("../Images/bg-square-gradient.png");
}

.article2 {
  background-image: url("../Images/bg-rectangle-gradient.png");
}

.article3 {
  background-image: url("../Images/bg-circle-gradient.png");
}

.footer {
  height: auto;
  width: 100vw;
  background: #201728;
  display: flex;
  text-align: center;
  justify-content: center;
}

.footer .footerDiv {
  justify-content: center;
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
}

.footer h3 {
  text-shadow: 0px 1px 1px #dedede;
  letter-spacing: 2px;
  color: #fff;
  padding: 4% 6% 4%;
}

.footer p {
  font-size: 1.9em;
  padding: 5% 10% 5%;
}

/*# sourceMappingURL=style.css.map */
